<html>
  <head>
      <link href="style.css" rel="stylesheet" />
    <title>Medicine search</title>
  </head>
<body>
    <div class = "header"> <h2>Meds</h2> </div>
    <body style="background-image:url('resources/61802.jpg');">
 <table style="width:40%" align="center">

  <tr>
    <th>Medicine Name</th>
    <th>Alternate1(US)</th>
    <th>Alternate2(UK)</th>
    <th>Symptom</th>
  </tr>
  <% med.forEach(function(x){ %>
   <tr>
      <td><%= x.MED_NAME %></td>
      <td><%= x.ALT1 %></td>
      <td><%= x.ALT2 %></td>
      <td><%= x.symptom %></td>
   </tr>
  <% });%>

  
</table>
</body> 
</html>
