<html>
<body>
<h2>Meds</h2>
 <table style="width:40%">
  <tr>
    <th>Medicine Name</th>
    <th>Alternate1</th>
    <th>Alternate2</th>
  </tr>
  <tr>
    <td align="centre">Dolo</td>
    <td align="centre">Polo</td>
    <td align="centre">Colo</td>
  </tr>
  <tr>
    <td align="centre">Sinarest</td>
    <td align="centre">Fullrest</td>
    <td align="centre">Norest</td>
  </tr>
</table>
</body> 
</html>
