<!DOCTYPE html>
<html>
    <link href="style.css" rel="stylesheet" />

    <title>
        Medicine search
    </title>
  
    <div class = "header"> <h2>This is a medicine search thing...</h2> </div>
    <body style="background-image:url('resources/61802.jpg');">
        <h1 align="center">Medicine for you</h1>
        
    
        We'll find a medicine thats similar to the medicine that you have in mind, if its not available in your current region.
        <form class="example" action="/" method="POST">
            <input type="text" placeholder="Search.." name="search">
            <input class="button" type="submit" placeholder="Find My Pill!!" name="submit">
        </form>
    <div class = "footer">
        <h3>Contact Us</h3>
        <h6>Disclaimer:<h6>We’ve made all possible efforts to ensure that the information provided here is accurate, up-to-date and complete, however, it should not be treated as a substitute for professional medical advice, diagnosis or treatment. Practo only provides reference source for common information on medicines and does not guarantee its accuracy or exhaustiveness. The absence of a warning for any drug or combination thereof, should not be assumed to indicate that the drug or combination is safe, effective, or appropriate for any given patient. Practo does not assume any responsibility for any aspect of healthcare administered with the aid of information provided above. If you have any doubts about your medication then we strongly recommend that you consult with your doctor, nurse or healthcare provider.  </h6>
        <h6>Location:SCEM</h6>
    </div>    
        
    </body>
</html>
